@font-face {
    font-family: 'iconos';
    src:  url('../fonts/iconos/icomoon.eot?g9vguz');
    src:  url('../fonts/iconos/icomoon.eot?g9vguz#iefix') format('embedded-opentype'),
      url('../fonts/iconos/icomoon.ttf?g9vguz') format('truetype'),
      url('../fonts/iconos/icomoon.woff?g9vguz') format('woff'),
      url('../fonts/iconos/icomoon.svg?g9vguz#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }

  @font-face {
    font-family: 'poppins';
    src: url('../fonts/poppins/Poppins-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }

* {
    font-family: 'poppins';
}

header {
    background: #1b691a;
}

header .logo {
    margin: 30px 0px 20px 80px;
}

header .logo img {
    width: 202px;
}

header .boton-busqueda p {
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

header .logo, header .lista-principal, header .boton-busqueda {
    display: inline-block;
}

header .lista-principal {
    vertical-align: top;
    margin-top: 30px;
}

header .lista-principal ul li {
    display: inline-block;
    margin: 0px 0px 0px 25px;
}

header .lista-principal ul li a {
     text-decoration: none;
     color: white;
}

header .boton-busqueda {
    float: right;
    margin: 10px 100px 0px 0px;
}

header .lista-principal .casita::before {
    font-family: 'iconos';
    content: '\f015';
}

header .lista-principal .carpeta::before {
    font-family: 'iconos';
    content: '\f115';
}
header .boton-busqueda .boton {
    position: relative;
    width: 100%;
    height: 100%;
}

header .boton-busqueda .boton .lupa::before {
    font-family: 'iconos';
    content: '\f002';
    margin: auto;
    width: fit-content;
    height: fit-content;
    position: absolute;
    left: 0; top: 0; bottom: 0; right: 0;
}

nav {
    margin-left: 40px;
}

nav ul li {
    display: inline-block;
    margin: 0px 35px 0px 0px;
}

nav ul li a {
    text-decoration: none;
    color: #666666;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

nav ul li a .discord-ico::before {
    font-family: 'iconos';
    content: '\e900';
}

nav ul li a .engranaje::before {
    font-family: 'iconos';
    content: '\f085';
}

nav ul li a .flecha::after {
    font-family: 'iconos';
    content: '\ea1c';
}

section {
    margin: 60px 0px 0px 80px;
}

section .titulo-seccion p .rayo-ico {
    width: 30px;
    height: 30px;
    display: inline-block;
    background: green;
    text-align: center;
    line-height: 30px;
}

section .titulo-seccion p .rayo-ico::before {
    font-family: 'iconos';
    content: '\f0e7';
    color: white;
}

section .titulo-seccion p{
    margin: 0px;
}

section .titulo-seccion p {
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 2px solid #f0f0f0;
    width: 80%;
}

section .articulos .logo-art, section .articulos .contenido-art {
    display: inline-block;
}

section .articulos .contenido-art {
    vertical-align: top;
    margin-left: 20px;
}

section .articulos .logo-art img {
    width: 110px;
}

section article {
    display: inline-block;
}

section article:nth-child(1) {
    margin-right: 150px;
}

section .articulos .par-arts {
    border-bottom: 2px solid #f0f0f0;
    padding: 25px 0px 25px 0px;
    width: 80%;
}

section .articulos .contenido-art .titulo-manga h3 {
    margin: 0px;
}

section .articulos .contenido-art .cal-manga .cal-grafig p {
    margin: 0px;
}

section .articulos .contenido-art .cal-manga .cal-grafig .estrella::before {
    font-family: 'iconos';
    content: '\e9d9';
    color: #1b691a;
}

section .articulos .contenido-art .cal-manga .cal-grafig, section .articulos .contenido-art .cal-manga .cal-numero {
    display: inline-block;
}

section .articulos .contenido-art .cal-manga .cal-numero {
    margin-left: 10px;
}

section .articulos .contenido-art .cal-manga .cal-numero p {
   margin: 10px 0px 20px 0px;
}


section .articulos .contenido-art .capitulos .capitulo-etiqueta {
    margin-bottom: 20px;
}

section .articulos .contenido-art .capitulos a {
    text-decoration: none;
    color: #666666;
    background: #ebebeb;
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
    margin-right: 10px;
}

section .articulos .contenido-art .capitulos a:hover {
    color: white;
    background: #1b691a;
}

footer {
    padding: 60px 0px 60px 0px;
    border-top: 3px solid #ebebeb;
    text-align: center;
    display: block;
}

footer .categorias {
    background-color: #f3f3f3;
    padding: 20px;
    margin: 0% 10% 0% 10%;
    border-bottom: 4px solid #1b691a;
}

footer .categorias .titulo-cat h5{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 0px;
    background-color: #1b691a;
    width: fit-content;
    padding: 5px 20px;
    font-size: 15px;
    color: white;
}

footer .categorias .lista-cat ul {
    text-align: left;
}

footer .categorias .lista-cat ul li{
    display: inline-block;
    margin: 0px;
    padding: 10px 3px 10px 3px ;
    font-size: 10px;
    text-align: left;
}

footer .categorias .lista-cat ul li a:hover{
    background: #1b691a;
    color: white;
}   

footer .categorias .lista-cat ul li a{
    margin: 5px 0px;
    padding: 5px;
    text-decoration: none;
    color: black;
    background: white;
    border-radius: 20px;
}

footer .disc {
    margin: 0% 10% 0% 10%;
    font-size: 90%;
    color: #888888;
}

footer .lista-inline ul li {
    display: inline-block;
    border-right: 2px solid black;
    margin-bottom: 10px;
    padding: 0px 18px;
}


footer .lista-inline ul li:last-child{
    border-right: 0px;
}
    
footer .lista-inline ul li a{
    text-decoration: none;
    color: black;
}


@media only screen and (max-width: 1280px) {

  
}


@media only screen and (max-width: 800px) {

    header .lista-principal {
        display: none;
    }

    section article {
        margin-bottom: 15px;
    }

    section .articulos .par-arts{
        border-bottom: 0px;
        margin: 0px;
        padding: 0px;
    }

    section .titulo-seccion {
        margin-bottom: 20px;
    }

    section {
        margin-top: 20px;
    }

    section article:first-child {
        margin-right: 0px;
    }
}
